<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-4 border-0">
        <div class="card-header py-3">
          {{#if (isMan subject.gen)}}
          <img class="card-img-top" src="/img/profile_picture.svg" alt="Card image cap">
          {{else}}
          <img class="card-img-top" src="/img/profile_picture_girl2.svg" alt="Card image cap">
          {{/if}}
          <a href="/profile" class="link-secondary">
            <h4 class="card-title text-center mt-3">@{{subject.username}}</h4>
          </a>
          {{#each subject_data.subscriptions}}
          <div class="badge badge-secondary">{{service_name}}</div>
          {{/each}}
        </div>
        <div class="card-body">
          <li class="list-group">
            <ul class="list-group-item">Reservas totales: <span class="font-weight-bold">{{subject_data.bookings}}</span></ul>
          </li>
          <a href="/users/delete/{{subject.username}}" class="btn btn-danger btn-block">Eliminar usuario</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9">

      <div class="card mb-4 border-0">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-secondary">En inspección</h6>
        </div>
        <div class="card-body">
          <h2>Datos de <span class="font-weight-bold mb-5">{{subject.name}}</span></h2>
          <p class="ml-3">Visualiza los datos y estadísticas de {{subject.name}}.</p>
          <div class="my-2"></div>
          <div class="row">
            <h5 class="text text-dark font-weight-bold">Datos de cuenta</h5>
            <div class="col-lg-7">
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Usuario</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.username}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="text text-dark font-weight-bold">Datos personales</h5>
            <div class="col-lg-7">
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Nombre</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.name}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Apellido</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.surname}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Fecha de nacimiento</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.nacimiento}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Género</h6>
                  </div>
                  <div class="col-sm-7">
                    {{#if (isMan subject.gen)}}
                    <h6 class="text">Masculino</h6>
                    {{else}}
                    <h6 class="text">Femenino</h6>
                    {{/if}}
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="text text-dark font-weight-bold">Datos de facturación</h5>
            <div class="col-lg-7">
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Dirección</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.direccion}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group p-2">
                <div class="row border-0 bg-gray-200 p-2 rounded">
                  <div class="col-sm-4">
                    <h6 class="text text-dark">Localidad</h6>
                  </div>
                  <div class="col-sm-7">
                    <h6 class="text-uppercase">{{subject.localidad}}</h6>
                  </div>
                  <div class="col-sm-1">
                    <a href="">

                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group p-2">
                <a href="/users" class="btn btn-primary btn-block font-weight-light">
                  <div class="row justify-content-between">
                    <div class="col-sm-1">
                      <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="col-sm-11 text-center">
                      Volver
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>