<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Lista de usuarios</h1>
                    <p class="mb-4">En este apartado podrás ver los usuarios registrados en la plataforma, además podras administrarlos (Ver, editar, eliminar y restringir)</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">Listado de usuarios</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="text-dark" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Profile</th>
                                            <th>Username</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Fecha de nacimiento</th>
                                            <th>Dirección</th>
                                            <th>Localidad</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each users}}
                                        <tr>
                                            <td><img src="{{profile}}" style="width: 3em;" class="bg-info rounded" alt="User profile"></td>
                                            <td><a class="link-success" href="">@{{username}}</a></td>
                                            <td>{{name}}</td>
                                            <td>{{surname}}</td>
                                            <td>{{nacimiento}}</td>
                                            <td>{{direccion}}</td>
                                            <td>{{localidad}}</td>
                                            <td><a href="/users/inspect/{{username}}" class="btn btn-info">Inspeccionar</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
