<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h3 class="mb-2 text-gray-800">Usuarios</h3>
    <p class="mb-4">Tabla de todos los usuarios registrados en el sistema y su información.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>e-mail</th>
                            <th>Dirección</th>
                            <th>Localidad</th>
                            <th>Género</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>
                                <a href="/users/inspect/{{username}}">
                                    {{username}}
                                </a>
                            </td>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{email}}</td>
                            <td>{{direccion}}</td>
                            <td>{{localidad}}</td>
                            {{#if (isMan gen)}}
                            <td>Masculino</td>
                            {{else}}
                            <td>Femenino</td>
                            {{/if}}
                            {{#if (isAdmin rol)}}
                            <td>Administrador</td>
                            {{else}}
                            <td>Usuario</td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>