<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1 class="h2 mb-2 text-dark font-weight-bold">Mis suscripciones</h1>
    <p class="mb-4"></p>
  </div>
  <div class="row d-flex justify-content-center">
    {{#each subscriptions}}
    <div class="col-lg-10">

      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#{{service_name}}" class="d-block card-header py-3" data-toggle="collapse" role="button"
          aria-expanded="true" aria-controls="{{service_name}}">
          <h6 class="m-0 font-weight-bold text-dark">{{service_name}} - Suscripción</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="{{service_name}}">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="card-body">
                <h2>Suscripción a <span class="font-weight-bold mb-5">{{service_name}}</span></h2>
                <p class="ml-3">Visualiza el estado de tu suscripción a {{service_name}}.
                </p>
                <div class="my-2"></div>
                <div class="row">
                  <h5 class="text text-dark font-weight-bold">Datos de contacto</h5>
                  <div class="col-lg-8">
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Nombre</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{ass_name}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Apellido</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{ass_surname}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Cédula de identidad</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{asociated_ci}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Correo electrónico</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{ass_email}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="text text-dark font-weight-bold">Datos de facturación</h5>
                  <div class="col-lg-8">
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Linea de dirección 1</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{ass_dir1}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group p-2">
                      <div class="row border-0 bg-gray-200 p-2 rounded">
                        <div class="col-sm-4">
                          <h6 class="text text-dark">Linea de dirección 2</h6>
                        </div>
                        <div class="col-sm-7">
                          <h6 class="text-uppercase">{{ass_dir2}}</h6>
                        </div>
                        <div class="col-sm-1">
                          <a href="">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>