<div class="container-fluid m-2">
  <div class="row">
    
    <div class="col-md-3">
      {{#each bookings}}
          <div class="card text-center bg-light shadow card-outline-secondary">
            <div class="card-body">
                    <h3 class="card-title text-secondary h5 text-uppercase font-weight-bold">
                        {{tipo_cancha}}
                    </h3>
                <p class="text-light"></p>
                <p class="text-secondary">Precio: UYU {{price}}</p>
                <p class="text-secondary">{{timeago date_booking}} ({{date_booking}})</p>
                <p class="text-secondary">Inicia a las {{start_booking}}</p>
                <p class="text-secondary">{{timeago create_at}}</p>
                <p class="text text-secondary"> Estado:
                  {{#if (isActive booking_state)}}
                  <span class="text text-success font-weight-bold">
                      Activa
                  </span>
                  {{else}}
                  <span class="text text-danger font-weight-bold">
                      Inactiva
                  </span>
                  {{/if}}
                  </p>
                <a href="/bookings/delete/{{id_booking}}" class="btn btn-danger">Cancelar</a>
                <a href="" class="btn btn-info">Visualizar</a>
                <a href="/checkout/{{id_booking}}" class="btn btn-light text-secondary shadow p-2 mt-2 font-weight-bold"></i>Pagar con MercadoPago <span class="text text-secondary"><i class="far fa-handshake m-1"></i></span></a>
            </div>
      {{else}}
        <div class="col-md-12 mx-auto"> 
          <div class="card card-body text-center">
            <p>Ooh... parece que no hay reservas aún</p>
            <a href="/bookings/create" class="btn btn-success">Crear una</a>
          </div>
          
        </div>
        
      </div>
      {{/each}}
  </div>
</div>