<div class="row d-flex justify-content-left m-2">
  {{#each bookings}}
  <div class="col-lg-3">

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-dark">{{tipo_cancha}}</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Reserva:</div>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#booking_{{id_booking}}_modal">Visualizar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" data-toggle="modal"
              data-target="#delete_{{id_booking}}_booking">Eliminar</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <img src="/img/bookingHeader.png" class="img-fluid" alt="Booking header">
      </div>
    </div>
  </div>
  <!-- Logout Modal-->
  <div class="modal fade" id="booking_{{id_booking}}_modal" tabindex="-1" role="dialog"
    aria-labelledby="booking_{{id_booking}}_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title text-dark font-weight-bold" id="booking_{{id_booking}}_modal">Reserva - {{tipo_cancha}}
          </h6>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Inicia</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{start_booking}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Finaliza</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{end_booking}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
              <button class="btn btn-success btn-block" type="button" data-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_{{id_booking}}_booking" tabindex="-1" role="dialog"
    aria-labelledby="delete_{{id_booking}}_booking" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="delete_{{id_booking}}_booking">Eliminar {{tipo_cancha}}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body text-center">Estás a punto de borrar una reserva,<br>
          <p class="text-center">¿Realmente desea hacerlo?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-danger" href="/bookings/delete/{{id_booking}}">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>