<div class="container-fluid">

                    <!-- Page Heading -->
                    <h3 class="mb-2 text-gray-800">Reservas realizadas</h3>
                    <p class="mb-4">En este apartado podrás ver las reservas realizadas en la aplicación</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">Listado de canchas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="text-dark" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Realizada por</th>
                                            <th>ID</th>
                                            <th>Fecha</th>
                                            <th>Hora de inicio</th>
                                            <th>Hora de fin</th>
                                            <th>Cancha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each bookings}}
                                        <tr>
                                            <td>{{user}}</td>
                                            <td>{{id_booking}}</td>
                                            <td>{{date_booking}}</td>
                                            <td>{{start_booking}}</td>
                                            <td>{{end_booking}}</td>
                                            <td><a class="link link-success" href="">{{cancha}}</a></td>
                                            <td>{{paymentStatus}}</td>
                                            <td>
                                            <a class="link link-danger" href="/bookings/delete/{{id_booking}}">Eliminar</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
