{{#if (isAdmin user.rol)}}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0 text-gray-800">Inicio</h3>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <!-- Collapsable Card -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#bookingsCard" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="bookingsCard">
                    <h6 class="m-0 font-weight-bold text-dark">Reservas de hoy</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="bookingsCard">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless" id="dataTable" id="" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Cancha</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each todayBookings}}
                                    <tr>
                                        <td>{{tipo_cancha}}</td>
                                        <td>{{start_booking}}</td>
                                        <td>{{end_booking}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0 text-gray-800">Inicio</h3>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Mis reservas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{metadata.bookingsCount}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Mis suscripciones</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{metadata.subscriptionsCount}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">

        <div class="col-lg-12">

            <!-- Collapsable Card -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#bookingsCard" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="bookingsCard">
                    <h6 class="m-0 font-weight-bold text-dark">Reservas de hoy</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="bookingsCard">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless" id="dataTable" id="" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Cancha</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each todayBookings}}
                                    <tr>
                                        <td>{{tipo_cancha}}</td>
                                        <td>{{start_booking}}</td>
                                        <td>{{end_booking}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}