<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

  </head>
  <body>
    
    {{> main/navigation-main }}
    <div id="content-wrapper">
      {{> main/header-main }}

      <br>
      {{#each complejo}}
          <div class="d-flex justify-content-around">
            <div class="row">
              <div class="col-lg-12">
                <div>
                    <p class="text text-dark font-weight-bold ml-5" style="font-size: 7em;">{{nombre_complejo}}</p>
                </div>
              </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                  <div class="text-img">                      
                    <img class="float-right" src="img/cancha.png"/>
                  </div>
                </div>
            </div>
          </div>

        <div id="sobre-nasta" class="card ml-5 mr-5 mt-4 mb-4 shadow">
          <div class="card-body">
            <h2 class="card-title font-weight-bold">Sobre el complejo: </h2>
            <p class="card-text">{{informacion_complejo}}</p>
          </div>
        </div>

        <div id="contacto" class="card ml-5 mr-5 mt-4 mb-4 shadow">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between">
              <span><i class="fas fa-map-marker-alt text-success mr-1"></i>{{direccion_complejo}}</span>
              <span><i class="fas fa-envelope text-success mr-1"></i>{{correo_complejo}}</span>
              <span><i class="fas fa-phone-alt text-success mr-1"></i>{{telefono_complejo}}</span>
            </div>
          </div>
        </div>
        {{else}}
          <div class="d-flex justify-content-around">
            <div class="row">
              <div class="col-lg-12">
                <div>
                    <p class="text text-dark font-weight-bold ml-5" style="font-size: 7em;">Nombre <br> Complejo</p>
                </div>
              </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                  <div class="text-img">                      
                    <figure><img class=" float-right" src="img/cancha.png"/></figure>
                  </div>
                </div>
            </div>
          </div>

          <div id="sobre-nasta" class="card ml-5 mr-5 mt-4 mb-4 shadow">
            <div class="card-body">
              <h2 class="card-title font-weight-bold">Sobre el complejo: </h2>
              <p class="card-text">Información del complejo...</p>
            </div>
          </div>

          <div id="contacto" class="card ml-5 mr-5 mt-4 mb-4 shadow">
            <div class="card-body">
              <div class="d-flex justify-content-lg-between">
                <span><i class="fas fa-map-marker-alt text-dark mr-1"></i>Direccion del complejo</span>
                <span><i class="fas fa-envelope text-dark mr-1"></i>Correo del complejo</span>
                <span><i class="fas fa-phone-alt text-dark mr-1"></i>Teléfono del complejo</span>
              </div>
            </div>
          </div>
      {{/each}}
    </div>
  </body>
</html>