<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <i class="fas fa-futbol fa-2x"></i>
                <strong>{{complejo.nombre_complejo}}</strong>
            </a>
            <div class="div">
                <a href="/signin" class="btn btn-success">Iniciar sesión</a>
                <a href="/signup" class="btn btn-success">Registrarme</a>
            </div>
        </div>
    </div>
</header>

<main role="main" class="">

    <section class="jumbotron text-center m-5">
        <div class="container">
            <h1 class="jumbotron-heading text-dark text-uppercase">{{complejo.nombre_complejo}}</h1>
            <p class="lead text-muted">{{complejo.informacion_complejo}}</p>
        </div>
    </section>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow rounded-3 text-secondary">
                <div class="card-header">
                    <h5 class="card-title">Sobre nosotros</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="small" for="#direccion">Dirección</label>
                            <div class="col-11">
                                <input type="text" value="{{complejo.direccion_complejo}}" class="form-control"
                                    id="direccion" readonly>
                            </div>
                            <div class="col-1">
                                <a href="
                                https://www.google.com.uy/maps/place/{{complejo.direccion_complejo}}/
                                " class="btn btn-primary btn-block" target="_BLANK">
                                    <i class="fas fa-paper-plane"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="small" for="#mail">Correo electrónico</label>
                        <div class="row">
                            <div class="col-11">
                                <input type="text" value="{{complejo.correo_complejo}}" class="form-control" id="mail"
                                    readonly>
                            </div>
                            <div class="col-1">
                                <a href="mailto:{{complejo.correo_complejo}}" class="btn btn-primary btn-block" target="_BLANK">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="small" for="#tel">Teléfono</label>
                        <div class="row">
                            <div class="col-11">
                                <input type="text" value="{{complejo.telefono_complejo}}" class="form-control" id="tel"
                                    readonly>
                            </div>
                            <div class="col-1">
                                <a href="https://wa.me/{{complejo.telefono_complejo}}?text=Necesito ayuda para registrarme" class="btn btn-primary btn-block" target="_BLANK">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>