<div class="col-lg-9">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Mis datos</h6>
                                </div>
                                <div class="card-body">
                                    {{#if isProminent}}
                                    <h2>¡Hola <span class="font-weight-bold text-warning mb-5">{{user.name}}</span>!</h2>
                                    {{else}}
                                    <h2>¡Hola <span class="font-weight-bold mb-5">{{user.name}}</span>!</h2>
                                    {{/if}}
                                    <p class="ml-3">Aquí tendrás el control de tu perfil, sientete libre de cambiarlo y personalizarlo</p>
                                    <div class="my-2"></div>
                                    <div class="row">
                                        <div class="col-lg-4 d-flex justify-content-center">
                                            <div class="card shadow mt-2">
                                                <div class="card-body bg-light">
                                                    <form
                                                        class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100">
                                                        <p class="small mb-1">Nombre completo</p>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control bg-light small" value="{{user.name}} {{user.surname}}" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1 mt-2">Nacimiento</p>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control bg-light small text-info" value="{{user.nacimiento}}" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1 mt-2">Dirección</p>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control bg-light small text-info" value="{{user.direccion}}" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1 mt-2">Telefono</p>
                                                        <div class="input-group mb-4">
                                                            <input type="text" class="form-control bg-light small text-info" value="user.telefono" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <p class="small mb-1 mt-2">Tarjeta de crédito</p>
                                                        <div class="input-group">
                                                            <input type="password" class="form-control bg-light small text-success" value="user.direccion" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                
                                                        <p class="small mb-1 mt-2">Fecha de vencimiento</p>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control bg-light small text-success" value="card.vencimiento" readonly>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-secondary" type="button">
                                                                    <i class="fas fa-pencil-alt fa-sm"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>