<div class="col-lg-9">

    <div class="card mb-4 border-0">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-secondary">Mis datos</h6>
        </div>
        <div class="card-body">
            {{#if isProminent}}
            <h2>¡Hola <span class="font-weight-bold text-warning mb-5">{{user.name}}</span>!</h2>
            {{else}}
            <h2>¡Hola <span class="font-weight-bold mb-5">{{user.name}}</span>!</h2>
            {{/if}}
            <p class="ml-3">Aquí tendrás el control de tu perfil, sientete libre de cambiarlo y personalizarlo.</p>
            <div class="my-2"></div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#movementsCollapse" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="movementsCollapse">
                            <h6 class="m-0 font-weight-bold text-dark">Mis movimientos</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse hide" id="movementsCollapse">
                            <div class="card-body">
                                {{#each movements}}
                                    <p class="m-1">{{message}}</p><br>
                                {{else}}
                                    <p class="m-1">No tienes movimientos</p><br>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text text-dark font-weight-bold">Datos de cuenta</h5>
                <div class="col-lg-7">
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Usuario</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.username}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text text-dark font-weight-bold">Datos personales</h5>
                <div class="col-lg-7">
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Nombre</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.name}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Apellido</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.surname}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Fecha de nacimiento</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.nacimiento}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Género</h6>
                            </div>
                            <div class="col-sm-7">
                                {{#if (isMan user.gen)}}
                                <h6 class="text">Masculino</h6>
                                {{else}}
                                <h6 class="text">Femenino</h6>
                                {{/if}}
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text text-dark font-weight-bold">Datos de facturación</h5>
                <div class="col-lg-7">
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Dirección</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.direccion}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <div class="row border-0 bg-gray-200 p-2 rounded">
                            <div class="col-sm-4">
                                <h6 class="text text-dark">Localidad</h6>
                            </div>
                            <div class="col-sm-7">
                                <h6 class="text-uppercase">{{user.localidad}}</h6>
                            </div>
                            <div class="col-sm-1">
                                <a href="">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2">
                        <a href="profile/edit" class="btn btn-success btn-block font-weight-light">
                            Modificar datos
                            <i class="fas fa-pen"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>