<div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Lista de canchas</h1>
                    <p class="mb-4">En este apartado podrás ver, editar y eliminar las canchas que están registradas además de poder registrar nuevas canchas.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">Listado de canchas</h6>
                            <p class="text text-secondary">Cantidad de canchas: <span class="font-weight-bold text-success">{{quantity}}</span></p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-dark" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tipo</th>
                                            <th>Máximo de jugadores</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each cancha}}
                                        <tr>
                                            <td>{{id_cancha}}</td>
                                            <td>{{tipo_cancha}}</td>
                                            <td>{{players}}</td>
                                            <td>{{description}}</td>
                                            <td class="text text-primary">${{price}}</td>
                                            <td> <a href="/field/edit/{{id_cancha}}" class="btn btn-info">Editar</a> <a href="/field/delete/{{id_cancha}}" class="btn btn-danger">Eliminar</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
